<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/Content/datatable.css" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <style>
* {
  box-sizing: border-box;
}

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0px;
            margin-left: 0px;
            display: inline;
            border: 0px;
        }
       .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: 0px;
       }
       #popup{
           background-color:silver;
           width:60%;
           min-height:50%;
           margin-top:200px;
           
       }
</style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><b>JAY VISWAKARMA</b></a>
            </div>
           <ul class="nav navbar-nav navbar-right">
               <li><a href="..\employees/index"><span class="glyphicon glyphicon-user"></span> Employee</a></li>
               <li><a href="..\customers/index"><span class="glyphicon glyphicon-user"></span> Customer</a></li>
               <li><a href="..\advances/index"><span class="glyphicon glyphicon-usd"></span> Advance</a></li>
               <li><a href="..\attendences/index"><span class="glyphicon glyphicon-calendar"></span> Attendance</a></li>
               <li><a href="..\salaries/index"><span class="glyphicon glyphicon-usd"></span> Salary</a></li>
               <li><a href="..\categories/index"><span class="glyphicon glyphicon-list"></span> Category</a></li>
               <li><a href="..\companies/index"><span class="glyphicon glyphicon-signal"></span> Company</a></li>
               <li><a href="..\products/index"><span class="glyphicon glyphicon-gift"></span> Product</a></li>
               <li><a href="..\purchases/index"><span class="glyphicon glyphicon-shopping-cart"></span> Purchase</a></li>
               <li><a href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

       <div style="width:95%;margin: 0 auto">
        <script src="~/scripts/jquery-1.10.2.min.js"></script>
        <script src="~/scripts/jquery-1.10.2.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        <script src="~/scripts/bootstrap.js"></script>
        <script src="~/scripts/Datatable/jquery.dataTables.min.js"></script>
        <script src="~/scripts/Datatable/dataTables.bootstrap.min.js"></script>
        <script src="~/scripts/Datatable/dataTables.buttons.min.js"></script>
        <script src="~/scripts/Datatable/buttons.bootstrap.min.js"></script>
        <script src="~/scripts/Datatable/jszip.min.js"></script>
        <script src="~/scripts/Datatable/pdfmake.min.js"></script>
        <script src="~/scripts/Datatable/vfs_fonts.js"></script>
        <script src="~/scripts/Datatable/buttons.html5.min.js"></script>
        <script src="~/scripts/Datatable/buttons.print.min.js"></script>
        <script src="~/scripts/Datatable/buttons.colVis.min.js"></script>
        <br>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

</body>
</html>